version: '3.8'

services:
  database:
    image: postgres:17
    container-name: fin-db
    restart: no
    env_file:
      - .env
    ports:
      - "${DATABASE_PORT}:5432"
    volumes:
      - ${DATABASE_VOLUME}:/var/lib/postgresql/data
